<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>

  <key>CFBundleDisplayName</key>
  <string>AudioHaptics</string>

  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>

  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>

  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>

  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>

  <key>UILaunchScreen</key>
  <dict/>

  <key>UIRequiredDeviceCapabilities</key>
  <array>
    <string>arm64</string>
  </array>

  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Audio</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.audio</string>
        <string>public.mp3</string>
        <string>com.apple.m4a-audio</string>
        <string>public.wav</string>
        <string>public.aiff-audio</string>
        <string>public.aac-audio</string>
        <string>public.flac</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
